<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/normalize.css">
    <title>Fórmula General</title>
</head>
<body>

    <div class="header">
        <h1>Fórmula General en las ecuaciones</h1>
    </div>
    <div class="texto-descriptivo">
        <p>Reales o imaginarias</p>
    </div>
    <div class="centrar-imagen">
        <img src="../assets/img/ecuacion.png" alt="ecuacion" class="ecuacion">
    </div>

    <div class="centrar-formulario">
        <form action="" name="form">
            <label for="a">Valor de "a"</label>
            <input type="number" name="a" id="a">
            <label for="b">Valor de "b"</label>
            <input type="number" name="b" id="b">
            <label for="c">Valor de "c"</label>
            <input type="number" name="c" id="c">
            <input type="button" value="Calcular" class="boton" onclick="obtenerDatos()">
        </form>
    </div>


    <div class="centrar-tabla">
        <table class="table">
            <tr>
                <td>Pruebas</td>
                <td><input type="text" name="datoAobtenido" id="datoAobtenido" class="datoAobtenido"></td>
            </tr>
        </table>
    </div>
</body>
</html>